*~
*.txt
*.aux
*.log
*.pdf
*.out
*.zip
.nfs*
mmap_*
*.tar.gz
*.auxlock

.tex
.local
Makefile
tex/tikz
.gnuastro
.texlive*
tex/pipeline
LOCAL_tmp.mk
LOCAL_old.mk
reproduce/build
gnuastro-local.conf
reproduce/config/pipeline/LOCAL.mk

reproduce/BDIR/
reproduce/SURVEY/