# THIS IS A COPY OF NUMPY'S site.cfg.example, CUSTOMIZED FOR THIS PIPELINE
# ------------------------------------------------------------------------

# This file provides configuration information about non-Python dependencies for
# numpy.distutils-using packages. Create a file like this called "site.cfg" next
# to your package's setup.py file and fill in the appropriate sections. Not all
# packages will use all sections so you should leave out sections that your
# package does not use.

# IMPORTANT NOTE
# --------------
#
# The `ALL' grouping does't apply to ATLAS!!!!!

 [ALL]
 library_dirs = @LIBDIR@
 include_dirs = @INCDIR@


# FFT libraries
# -------------
# There are two FFT libraries that we can configure here: FFTW (2 and 3) and djbfft.
# Note that these libraries are not used by numpy or scipy.
#
#   http://fftw.org/
#   https://cr.yp.to/djbfft.html
#
# Given only this section, numpy.distutils will try to figure out which version
# of FFTW you are using.

# Even with this section, Numpy apparently does not use fftw. But we will
# keep it here for the future (if a solution is found).
[fftw]
libraries = fftw3
#
# For djbfft, numpy.distutils will look for either djbfft.a or libdjbfft.a .
#[djbfft]
#include_dirs = /usr/local/djbfft/include
#library_dirs = /usr/local/djbfft/lib
